$background-color:#282828;
$title-background:#282828;
$title-color:#fbd651;

$info-background:#282828;
$info-color:#fbd651;
$info-color-hover:#FFFFFF;

$tag-background:#FFFFFF;
$tag-color:#282828;
$tag-background-hover:#282828;
$tag-color-hover:#fbd651;